.buttons-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .future-events-title {
    color: #fff;
    text-align: center;
    /* Добавьте любые другие стили, которые вы хотели бы применить */
  }

  .future-events-back-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px auto 5mm;
    width: fit-content;
}
  
  .future-events-back-button:hover {
    background-color: #999;
  }
  .future-events-page, .future-events-page * {
    color: white;
}

/* ./css/FutureEventsPage.css */
.event-table {
  width: 90%; /* Отпределяет, что таблица должна занимать всю доступную ширину */

}

.event-table th, .event-table td {
  padding: 10px; /* Добавляет отступ в ячейках для лучшей читаемости */
  text-align: left; /* Выравнивание текста в ячейках */
}

.event-table th {
  background-color: #333; /* Фоновый цвет для заголовков таблицы */
  color: #fff; /* Цвет текста для заголовков таблицы */
}

/* Определите ширину каждого столбца */
.event-table td:nth-child(1) { /* Первый столбец */
  width: 30%;
}

.event-table td:nth-child(2) { /* Второй столбец */
  width: 50%;
}

.event-table td:nth-child(3) { /* Третий столбец */
  width: 20%;
}


/* Стили для больших экранов (например, настольных компьютеров) */

/* ... ваш текущий CSS ... */

/* Стили для мобильных устройств */
@media (max-width: 768px) {

  .event-table {
    width: 100%; /* на мобильных устройствах таблица будет занимать всю ширину экрана */
  }

  .event-item h2 {
    font-size: 16px; /* уменьшаем размер шрифта заголовка */
  }

  .event-table td {
    font-size: 14px; /* уменьшаем размер шрифта для содержимого таблицы */
    padding: 5px; /* уменьшаем отступ в ячейках таблицы */
  }


}



.event-title {
  color: white;
  vertical-align: top;
  text-align: center;
  
}

.event-discussion {
  color: white;
}

.discussion-item {
  margin-bottom: 3mm;
}

.event-language {
  text-align: center;
  vertical-align: top;
}

.language-icon {
  width: 35%;
  background-color: transparent;
}

.calendar-icon,
.library-icon {
    width: 20px; /* или любой другой размер, который вы хотели бы использовать */
    height: auto; /* сохранять пропорции иконки */
    margin-top: 10px;
}

.icon-container {
  display: flex;
  justify-content: center; 
  width: 100%; 
}