/* Стили для модального окна */
.login-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .login-modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .modal-content h2 {
    margin-bottom: 10px;
    color: black; /* Изменение цвета текста на magenta */
  }
  
  .modal-content label {
    display: block;
    margin-bottom: 10px;
    color: black; /* Изменение цвета текста на magenta */
  }
  
  .modal-content input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  
  
  .modal-content button {
    margin-top: 10px;
    margin-bottom: 1cm; /* Добавление расстояния между кнопками в 1 см */
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  

/* Стили для модального окна регистрации */
.registration-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .registration-modal.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .registration-modal .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .registration-modal h2 {
    margin-bottom: 10px;
    color: black; /* Изменение цвета текста на черный */
  }
  
  .registration-modal label {
    display: block;
    margin-bottom: 10px;
    color: black; /* Изменение цвета текста на черный */
  }
  
  .registration-modal input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .registration-modal button {
    margin-top: 10px;
    margin-bottom: 1cm; /* Добавление расстояния между кнопками в 1 см */
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
  }
  
  
  /* Стили для ссылки "Join now!" */
  .login-modal .join-now-link {
    color: blue; /* Изменяем цвет ссылки */
    text-decoration: underline;
    cursor: pointer;
  }


  .login-modal .join-now-link:hover {
    color: darkblue; /* Изменяем цвет ссылки при наведении */
  }
  /* Стили для ссылки "Not a member of T-Book Club" */
.login-modal .not-member-link {
    color: black; /* Изменяем цвет ссылки на черный */
    font-size: 14px; /* Уменьшаем размер шрифта на 14 пикселей */
    cursor: pointer;
  }

  