body {
  margin: 0;
  padding: 0;
  background-color: #111111;
}

.App {
  background-color: #111111;
  text-align: center;
}

.App-header {
  background-color: #111111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: none;

}

.App-logo {
  height: 30vmin;
  margin-top: 10;
  pointer-events: none;
}

.book-list {
  text-align: left;
}

.book-list li {
  list-style-type: none;
  font-size: 12px;
}

.book-title {
  display: block;
  font-size: 20px;
}

.book-author,
.book-image {
  display: block;
  font-size: 12px;
}

.popup-container {
  position: absolute;
  top: 200px;
  left: 150px;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 9999;
}

.popup {
  background-color: pink;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  pointer-events: auto;
}

.popup-content {
  text-align: center;
  color: rgb(255, 0, 166);
}

.popup-user {
  font-weight: bold;
  margin-bottom: 10px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  position: relative;
}

.about-ranks-image {
  position: fixed;
  top: 100px;
  left: 10px;
  width: 40px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s;
}

.about-ranks-image:active {
  transform: scale(0.9);
}

.ranks-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  font-size: 14px;
}

.ranks-table th,
.ranks-table td {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: left;
}

.ranks-table th {
  background-color: #f2f2f2;
}

/* Media Query for Small Screens */
@media (max-width: 600px) {
  .ranks-table {
    font-size: 12px;
  }
}

.about-popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-popup {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  max-width: 80%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}

.about-popup-content {
  text-align: center;
}

.about-popup-text {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  font-weight: bold;
}

.book-button {
  transition: transform 0.2s ease;
}

.book-button.animated {
  transform: scale(0.9);
}

.rank-icon {
  transition: transform 0.3s ease;
}

.rank-icon:hover {
  transform: rotate(-15deg);
}

.column-header {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-content {
  margin-left: 45px;
}

.speaker-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.speaker-header {
  display: flex;
  align-items: center;
  height: 100%;
}

table {
  border-collapse: separate;
  border-spacing: 10px;
}

.speaker-image {
  font-size: 12px;
}
.book-image-thumbnail {
  max-width: 10px; /* Укажите желаемый максимальный размер миниатюры */
  max-height: 10px;
  object-fit: contain;
}

.book-image-container img {
  width: 50px; /* Укажите желаемую ширину изображения */
  height: auto; /* Высота будет автоматически рассчитываться с сохранением пропорций */
}
.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.image-modal-content {
  max-width: 40%;
  max-height: 40%;
}

.image-modal-content img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.book-info {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  border: 1px solid #ccc;
  padding: 8px;
  margin-bottom: 8px;
}

.book-info-item {
  display: grid;
  grid-template-columns: 1fr auto; /* Один столбец будет занимать доступное пространство, а второй - автоматически настраиваться по содержимому */
  gap: 10px; /* Расстояние между столбцами */
}


.book-title {
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  word-wrap: break-word;
  word-break: break-word;
  line-height: 1.2;
  max-width: 300px; /* Измените эту ширину по вашему усмотрению */
  flex-grow: 1;
  margin-right: 10px;
  border-right: 1px solid rgb(0, 0, 0); /* Белая граница справа */
  
} 
.book-info {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  border: 2px solid transparent;
}

.book-info.expanded {
  max-height: 100px; /* Задайте нужную максимальную высоту для раскрытого состояния */
  opacity: 1;
  transition: max-height 0.6s ease-in, opacity 0.6s ease-in;
}






.footer {
  background-color: transparent;
  color: #ffffff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.footer-links {
  margin-bottom: 20px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
  margin-right: 10px;
}

.footer-buttons {
  margin-bottom: 20px;
}

.footer-buttons img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.footer-text {
  font-size: 12px;
}